<h1>Weekly volunteer schedule</h1>
<p>Choose a volunteer on duty for each day From the list of volunteers who are interested Volunteer :</p>
<form>
<table>
    <tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wedn</th>
    <th>Thur</th>
    </tr>
    <tr>
        <td *ngFor="let day of [0,1,2,3,4]" [formGroup]="schedulingForm">
            <select name=`day+${day}` [ngStyle]="{'background-color':chosen[day]!=-1?'green':'Orange'}"
            (change)="chosen[day]=-2" onfocus="this.slectedIndex = -1">
                <option *ngFor="let volunteer of getSchedulingForDay(day) " [value]="volunteer.id">{{volunteer.firstName}}</option>
            </select>
        </td>
        </tr>
</table>
<br>
<button type="submit" class="btn btn-success" (click)="save_schduling()">save👍</button>
</form>


