
<h1>volunteers list  </h1>
<p>By clicking the edit button, you can edit your details and choose the days you would like to volunteer :</p>
<ul class="list-group">
    <li *ngFor="let volunteer of volunteers" 
    class="list-group-item" 
    style="display:flex;flex-direction:row;"

    [ngClass]="{'list-list-group-item-success':volunteer.days,
'list-list-list-group-item-danger':!volunteer.days}"
[ngStyle]="{'color':volunteer.days?'green':'red'}"
    >
        <div class="row">
                volunteer id:{{volunteer.id}}
            </div>
            <div class="col-3"></div>
            <div class="col-3">
               first name : {{volunteer.firstName}}
            </div>
            <div class="col-3">
                last name : {{volunteer.lastName}}
            </div>
            <div class="col-2">
         <button class="btn btn-primary"  (click)="editVolunteer(volunteer)">Edit📑</button>
            </div>
    </li>
</ul>
