<br>
<h1>volunterr list</h1>
<ul class="list-group">
    <li *ngFor="let volunteer of volunteers" class="list-group-item" >
        <div class="row">
            <div class="col-1">
                {{volunteer.id}}
            </div>
            <div class="col-2">
                {{volunteer.firstName}}
            </div>
            <div class="col-2">
                {{volunteer.lastName}}
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="editVolunteer(volunteer)">Edit📑</button>
            </div>
        </div>
    </li>
</ul>
<br>